<div class='mt-4'>
	<h3>Đăng sản phẩm</h3>
	<form method='post' action='/products/store'>
		<div class='mb-3'>
			<label for='description' class='form-label'>Nhap mo ta</label>
			<input type='text' class='form-control' id='description' name='description'/>
		</div>
		<div class='mb-3'>
			<label for='name' class='form-label'>Ten san pham</label>
			<input type='text' class='form-control' id='name' name='name'/>
		</div>
		<div class='mb-3'>
			<label for='thumbnail' class='form-label'>Hinh anh</label>
			<input type='text' class='form-control' id='thumbnail' name='thumbnail'/>
		</div>
  
		<button type='submit' class='btn btn-primary'>Thêm sản phẩm</button>
	</form>
</div>