
<form method="POST"class="mt-4">
  <div class="mb-3">
    <label for="search-input" class="form-label">Nhập từ khoá</label>
    <input type="text" name="q" class="form-control" placeholder="Nhập từ khoá">
  </div>
 
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>